@using Orbital.Web.Clubs
@model ClubViewModel

@{
    ViewBag.Title = "Club - " + Model.Club.Name;
    Layout = "_Layout";
}

<h2>Club Details</h2>

<div class="panel panel-default">
    <div class="panel-heading">@Model.Club.Name</div>

    <div class="panel-body">
        ...
    </div>

    <ul class="list-group">
        <li class="list-group-item">
            Created on <strong>@Model.Versioning.Created.On</strong> by <strong>@Model.Versioning.Created.By</strong>
        </li>
        @if (Model.Versioning.Modified != null)
        {
            <li class="list-group-item">
                Last modified on <strong>@Model.Versioning.Modified.On</strong> by <strong>@Model.Versioning.Modified.By</strong>
            </li>
        }
        @if (Model.Versioning.Deleted != null)
        {
            <li class="list-group-item">
                Deleted on <strong>@Model.Versioning.Deleted.On</strong> by <strong>@Model.Versioning.Deleted.By</strong>
            </li>
        }
    </ul>

</div>
