@using Humanizer
@model Orbital.Web.ViewComponents.VersionInfoViewModel

<div class="text-muted">
    @if (Model.Modified != null)
    {
        <small>
            Last modified @Model.Modified.On.Humanize() by <user user="@Model.Modified.By" />
        </small>
        <br />
    }
    <small>
        Created @Model.Created.On.Humanize() by <user user="@Model.Created.By" />
    </small>
    @if (Model.Deleted != null)
    {
        <br />
        <small>
            Deleted @Model.Deleted.On.Humanize() by <user user="@Model.Deleted.By" />
        </small>
    }
</div>