@model Orbital.Web.Models.VersionInfo

<ul class="list-group list-group-flush">
    <li class="list-group-item">
        Created on <strong>@Model.Created.On</strong> by <strong>@Model.Created.By</strong>
    </li>
    @if (Model.Modified != null)
    {
        <li class="list-group-item">
            Last modified on <strong>@Model.Modified.On</strong> by <strong>@Model.Modified.By</strong>
        </li>
    }
    @if (Model.Deleted != null)
    {
        <li class="list-group-item">
            Deleted on <strong>@Model.Deleted.On</strong> by <strong>@Model.Deleted.By</strong>
        </li>
    }
</ul>
